/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

*{
    font-family: 'Space Grotesk', sans-serif;
}


/* navbar */
#logo h1 {
    font-family: 'Oleo Script', 'cursive';
}
.navbar {
    margin: 10px 100px;
    display: flex;
    justify-content: space-between;
}

#links ul {
    list-style: none;
    display: flex;
    /* gap: 50px; */
}

#links ul li a {
    text-decoration: none;
    padding: 0px 30px;  
}











/* h1{
    font-size: medium;
    color: blue;
}
ul{
    list-style: type:none;
}
li{
    color: blue;
} */